<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets autoReload="true" async="true">
    <target name="logFile" xsi:type="File" fileName="${basedir}/Logs/SeedPlanterIdentifier_${shortdate}.log" />
    <!--<target name="file" xsi:type="File" fileName="${basedir}/Logs/log-${date:cached=True:format=yyyy-MM-dd HH-mm-ss-fff}.txt" layout="${message}"/>-->
    <target name="logData" xsi:type="File"  fileName="${basedir}/Logs/LogData/SeedPlanterIdentifier_LogData_${gdc:item=StartTime}.log" layout="${message}"/>
  </targets>
  <rules>
    <logger name="*" writeTo="logFile" />
    <logger name="logData" writeTo="logData" />
  </rules>
</nlog>