<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\AgricultureCycles\Plant\APSYS.Plant.SeedPatternIdentifier\packages.config" />
  <repository path="..\src\Infrastructure\Communication\APSYS.Infrastructure.Communication.Domain\packages.config" />
  <repository path="..\src\Infrastructure\Communication\APSYS.Infrastructure.Communication.SerialPortControl\packages.config" />
  <repository path="..\src\Infrastructure\Communication\packages.config" />
  <repository path="..\src\Infrastructure\UI\WPF\UI.Common\packages.config" />
</repositories>